
.bg-salad-green {
    background-color: #55AB55; 
}

.bg-black {
    background-color: black;
}

#navbar > div :hover {
    cursor: pointer;
    background-color: #8ec78e !important;
}

#logo {
    background-color: black !important;;
}

.item-borders > div {
    border-style: solid;
    border-color: black;
    border-width: 0px 4px 0px 4px;
}

.nav-link {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.nav-row {
    width:100%;
    position:relative;
}

.nav-column {
    width: 15%;
    float: left;
    height:50px;
    background-color:#55AB55;
    color:white;
    position:relative;
}

.no-top-marg {
    margin-top: 0px !important;
}

.clear {
    clear:both;
}

.text-color-white {
    color:white;
}

.center-in {
    text-align: center;
}

.left-in {
    text-align: left;
}

.right-in {
    text-align: right;
}

.to-align {
    display: inline-block;
}

